/* 🃏 このファイルのStylelintルールはoverridesによって特別に変更されています */

/* メインコンテンツ（content-mainコンポーネント）の内容はCMSなどで管理されるHTMLを含んだり、
 * ページ独自のスタイルを扱うことが多いので例外的に専用のルールを設ける。
 *
 * メインコンテンツのエレメントは基本的に自由である。
 * ただし、クラス名は`c-`で開始してはいけない。もちろん 【`c-` + `コンポーネント名` + `__` + `エレメント名`】 という規則でクラス名をつけない。
 * さらにそのルールに従って、メインコンテンツの中にコンポーネントを内包してはいけない。 */
.c-content-main {
	:where(h2, h3, h4, h5, h6, p) {
		margin-block-end: 1rem;
	}

	:where(ul, ol, table, blockquote) {
		margin-block-end: 2rem;
	}

	:where(h2) {
		font-size: var(--font-size-h2);
	}

	:where(h3) {
		font-size: var(--font-size-h3);
	}

	:where(h4) {
		font-size: var(--font-size-h4);
	}

	:where(h5) {
		font-size: var(--font-size-h5);
	}

	:where(h6) {
		font-size: var(--font-size-h6);
	}

	:where(ul, ol) {
		list-style-position: inside;
	}

	:where(blockquote) {
		padding-inline: 1rem;
		border-inline-start: 3px solid var(--border-color);
	}

	:where(table) {
		inline-size: 100%;
		border-collapse: collapse;
	}

	:where(th, td) {
		padding: 1rem;
		border: 1px solid var(--border-color);
	}
}
