.c-nav-breadcrumb {
	@media (--md-lte) {
		display: none;
	}

	ol {
		display: block flex;
		justify-content: flex-start;
		padding: 0;
		margin: 0;

		> li {
			list-style: none;

			&:last-child a {
				::after {
					display: none;
				}
			}
		}
	}

	a {
		display: inline flow-root;
		color: inherit;
		text-decoration: underline;

		::after {
			display: inline flow-root;
			content: ' > ';
		}
	}
}

.c-nav-breadcrumb__item {
	display: inline flow-root;
	padding: 0;
	margin: 0;
}

.c-nav-breadcrumb__item[data-breadcrumb='current'] {
	a {
		text-decoration: none;
	}
}
