.c-page-home {
	inline-size: 100%;
	block-size: 100%;
}

.c-page-home__base {
	display: block grid;
	grid-template:
		'header' auto
		'main' 1fr
		'footer' auto
		/ 1fr;
	inline-size: 100%;
	block-size: 100%;
}

.c-page-home__header {
	grid-area: header;
}

.c-page-home__main {
	grid-area: main;

	> * {
		inline-size: var(--content-width);
		padding-inline: 1rem;
		margin-inline: auto;
	}
}

.c-page-home__footer {
	grid-area: footer;
}
