.l-home {
	inline-size: 100%;
	block-size: 100%;
}

.l-home__base {
	display: block grid;
	grid-template:
		'header' auto
		'nav-global' auto
		'main' 1fr
		'nav-sitemap' auto
		'footer' auto
		/ 1fr;
	inline-size: 100%;
	block-size: 100%;
}

.l-home__header {
	grid-area: header;
}

.l-home__nav-global {
	grid-area: nav-global;
}

.l-home__main {
	grid-area: main;

	> * {
		inline-size: var(--content-width);
		padding-inline: 1rem;
		margin-inline: auto;
	}
}

.l-home__nav-sitemap {
	grid-area: nav-sitemap;
}

.l-home__footer {
	grid-area: footer;
}
