/* stylelint-disable-next-line @d-zero/component */
.c-form-input-confirm-text {
	display: block flow;
}

/* stylelint-disable-next-line @d-zero/component */
.c-form-input-confirm-multi {
	display: block flow;

	:where(ul li) {
		list-style: disc;
	}
}

/* stylelint-disable-next-line @d-zero/component */
.c-form-input-confirm-textarea {
	display: block flow;
}
