/* stylelint-disable-next-line @d-zero/component */
.c-form-input-text {
	max-inline-size: 100%;

	&:not([size]) {
		inline-size: 100%;
	}
}

/* stylelint-disable-next-line @d-zero/component */
.c-form-input-select {
	padding-block: 0.5rem;
	padding-inline: 0.5rem calc(0.5rem + 24px + 2px);
	appearance: none;
	background-image: url('/img/bg-arrow.svg');
	background-repeat: no-repeat;
	background-position: right calc(0.2rem + 2px) top calc(100% / 2 + 2px);
	border: 1px solid var(--border-color);
	border-radius: 0.2rem;
}

/* stylelint-disable-next-line @d-zero/component */
.c-form-input-checkbox {
	/* チェックボックスのスタイルを記述 */
}

/* stylelint-disable-next-line @d-zero/component */
.c-form-input-radio {
	/* ラジオボタンのスタイルを記述 */
}

/* stylelint-disable-next-line @d-zero/component */
.c-form-input-textarea {
	&:not([cols]) {
		inline-size: 100%;
	}
}

/* stylelint-disable-next-line @d-zero/component */
.c-form-input-file {
	/* ファイル選択のスタイルを記述 */
}
